* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #d9dcd6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}
.container {
    height: 500px;
    position: relative;
    width: 80%;
}
.container-images > img {
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.carousel-btn-container {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-prevBtn {
    left: -50px;
}
.carousel-nextBtn {
    right: -50px;
}