@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5e5e5;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 20px;
    min-height: 100vh;
}
.container {
    background-color: #343a40;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 20px 40px;
    width: 450px;
}
.clock {
    background-color: #212529;
    border-radius: 7px;
    font-size: 3em;
    padding: 20px 20px;
}
.days {
    color: #adb5bd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .5em;
}
.time {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hours,
.minutes,
.seconds {
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.5em;
}